<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 translate="payment.title.create">Create</h1>

			<div ng-show="success">			
	            <div class="alert alert-success"  >
	                {{ successMessage }}
	            </div>
	            <a ui-sref="listPayment">
	             	<span class="glyphicon glyphicon-wrench"></span>
	             	&#xA0;<span>Payments list</span>
	           	</a> | 
	           	<a ui-sref="createPayment">
	             	<span class="glyphicon glyphicon-wrench"></span>
	             	&#xA0;<span>Create payment</span>
	           	</a>
			</div>

            <div class="alert alert-danger" ng-show="error" >
                {{ errorMessage }}
            </div>

            <form ng-show="!success" name="form" role="form" novalidate ng-submit="create()" show-validation>
            
  				<div class="form-group" ng-class="{'has-error' : form.customer.$dirty && form.customer.$error.required}">
				    <label class="control-label" translate="payment.form.customer" for="customer">Plan</label>
				    <select ng-change="updateValidCost()" required id="customer" name="customer" class="form-control" ng-model="model.customer" ng-options="item as item.name for item in customersList">
				    <option translate="payment.placeholders.select.customer" value="">Select the customer</option>
					</select>
				</div>	
				
				<div class="form-group">
				    <label  class="control-label" translate="payment.form.plan" for="plan">Plan</label>
				    <input ng-readonly="true" name="plan" ng-model="model.customer.currentPlan.name" type="text" class="form-control" id="plan" >
				</div>	
				
				<div class="form-group">
				    <label  class="control-label" translate="payment.form.planCost" for="planCost">Plan cost</label>
				    <input ng-readonly="true" name="planCost" ng-model="model.customer.currentPlan.cost" type="text" class="form-control" id="planCost" >
				</div>		
				
  				<div class="form-group" ng-class="{'has-error' : form.paymentPlan.$dirty && form.paymentPlan.$error.required}">
				    <label class="control-label" translate="payment.form.paymentPlan" for="paymentPlan">Plan</label>
				    <select ng-change="updateValidCost()" required id="paymentPlan" name="paymentPlan" class="form-control" ng-model="model.paymentPlan" ng-options="item as item.name for item in paymentPlansList">
				    <option translate="payment.placeholders.select.paymentPlan" value="">Select the payment plan</option>
					</select>
				</div>	
				
				<div class="form-group">
				    <label  class="control-label" translate="payment.form.validCost" for="validCost">Valid cost</label>
				    <input ng-readonly="true" name="validCost" ng-model="model.validCost" type="text" class="form-control" id="validCost" >
				</div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="global.buttons.create">Create</button>
                 <a ui-sref="payment.list">
	             	<span class="glyphicon glyphicon-wrench"></span>
	             	&#xA0;<span translate="global.buttons.back">Back</span>
	           	</a>
            </form>
        </div>
    </div>
</div>

